<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Locales</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="form-local">
        <br />
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput placeholder="id" formControlName="id" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            required
            placeholder="Por favor ingrese el nombre"
            formControlName="nombre"
            required
          />
          <mat-error
            *ngIf="obtenerControlCampo('nombre')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input
            matInput
            required
            placeholder="Por favor ingrese el direccion"
            formControlName="direccion"
            required
          />
          <mat-error
            *ngIf="obtenerControlCampo('direccion')?.errors?.['required']"
          >
            La direccion es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Capacidad</mat-label>
          <input
            matInput
            required
            placeholder="Por favor ingrese la capacidad"
            formControlName="capacidad"
            required
          />
          <mat-error
            *ngIf="obtenerControlCampo('capacidad')?.errors?.['required']"
          >
            La capacidad es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button
          mat-raised-button
          color="warn"
          routerLink="/components/comentarios"
        >
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>

</html>
