<mat-toolbar color="primary" *ngIf="verificar()">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuTipoComp">Tipo Comprobante</button>
  <button mat-button [matMenuTriggerFor]="menuServicios" *ngIf="validarRol()">Servicios</button>
  <button mat-button [matMenuTriggerFor]="menuUsers">Usuarios</button>
  <button mat-button [matMenuTriggerFor]="menuRoles">Roles</button>
  <button mat-button [matMenuTriggerFor]="menuSalir">Usuario</button>
</mat-toolbar>

<mat-menu #menuTipoComp="matMenu">
  <button mat-menu-item routerLink="components/tipo_comprobante/nuevo">Registrar</button>
  <button mat-menu-item routerLink="components/tipo_comprobante">Listar</button>
</mat-menu>

<mat-menu #menuServicios="matMenu">
  <button mat-menu-item routerLink="components/servicio_disponible/nuevo" *ngIf="role == 'ADMIN'">Registrar</button>
  <button mat-menu-item routerLink="components/servicio_disponible">Listar</button>
</mat-menu>

<mat-menu #menuUsers="matMenu">
  <button mat-menu-item routerLink="components/usuarios/nuevo">Registrar</button>
  <button mat-menu-item routerLink="components/usuarios">Listar</button>
</mat-menu>

<mat-menu #menuRoles="matMenu">
  <button mat-menu-item routerLink="components/roles/nuevo">Registrar</button>
  <button mat-menu-item routerLink="components/roles">Listar</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<router-outlet></router-outlet>